
@font-face {
  font-family: 'myfont';

  src: url('../fonts/Welcome 2019.otf');
  src: url('../fonts/Welcome 2019.ttf') format('truetype'),
      
}


@font-face {
  font-family: 'myfont1';

  src: url('../fonts/Glitter.otf'); 
      
}
