.footer-sec {
    padding-top: 50px;
}

.footer-widget {
    margin: 30px 0;
}

footer {
    background: #383949 none repeat scroll 0 0;
}
.footer-widget-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-logo {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.footer-sec p {
    color: #888888;
    font-size: 14px;
}

.footer-wedget-contact {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #454653;
    margin-bottom: 20px;
}

.footer-social-profile {
    margin-bottom: 20px;
}

.footer-widget-menu li a {
    color: #fff;
    text-transform: capitalize;
    padding-left: 16px;
}

.footer-widget-menu li:first-child {
    padding-top: 0px;
}
.footer-widget-menu li {
    position: relative;
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
}
.footer-widget-menu li::before {
    content: "";
    left: 0px;
    top: 50%;
    position: absolute;
    color: #fff;
    padding-right: 10px;
    width: 4px;
    height: 1px;
    background: #fff;
    transform: translateY(-50%);
}
.footer-widget-title {
    color: var(--theme-color);
    margin-bottom: 35px;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 18px;
}
.footer-recent-inner {
    margin-bottom: 30px;
}

.footer-recent-inner .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #484956;
}
.twitter-post .twiter-post-title a {
    color: var(--theme-color);
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.twitter-post .twiter-post-title {
    color: #fff;
    letter-spacing: -0.05px;
    line-height: 26px;
    margin-bottom: 0;
}

.footer-bottom-sec {
    padding: 20px 0;
    background: #2e2f3d;
}


.footer-bottom-sec p {
    color: #fff;
    margin: 0;
    text-align: center;
}
.news-letter-title {
    font-size: 20px;
    color: var(--theme-color);
}

.news-letter-form form {
    background: #383949 none repeat scroll 0 0;
    position: relative;
    overflow: hidden;
}


.footer-social-profile ul li a i {
    color: #383949;
   
}

.footer-recent-inner h4 a {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
}
.privacy-menu ul {
	margin: 0;
	padding: 0;
}
.privacy-menu li {
    display: inline-block;
    padding-right: 20px;
    position: relative;
}
.privacy-menu li a {
    color: #fff;
}

.privacy-menu li::before {
    position: absolute;
    content: "|";
    left: -14px;
    color: #fff;
}

.footer-recent-inner span {
    color: var(--theme-color);
    font-size: 14px;
    text-transform: capitalize;
}

