body {
	margin: 0;
	padding: 0;
	font-family: Lato;
}

:root {
  --theme-color: rgb(68, 237, 188);
}

.title {
  font-weight: bold;
    color: #09436d;
    width:  100%;
    margin-bottom:  30px;
    h1 {
      font-weight: bold;
    color: #09436d;
    }

  > img {
    width: 144px;
    margin-top: -20px;
    }

    p {
      font-size: 18px;
    font-weight: 400;
    color: #9e9e9e;
    }
}

.f_center {
  align-items: center;
}


.btn.btn-default {
    border: 1px solid #eaeff5;
    background: #fff;
    color: #677897;
    font-size: 14px;
}


.por {
  position: relative;
}

.bg-art {
	width: 250px;
	box-shadow: 0px 0px 30px #0000001a;
	position: relative;

	 &:before {
	 	content: "";
	 	    display: block;
	 	    width: 400px;
	 	    height: 370px;
	 	    position: absolute;
	 	    background-size: 440px;
	 	    left: -100px;
	 	    right: 0;
	 	    z-index: -1;
	 	    margin: auto;
	 }

}

.bg-art.one:before {
	    background: url(../img/one-bg.svg) center no-repeat;
	
}

.bg-art.two:before  {
	    background: url(../img/two-bg.svg) center no-repeat;
	
}
.bg-art.three:before  {
	    background: url(../img/three-bg.svg) center no-repeat;
	
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.spacethis {
	padding-top: 100px;
	padding-bottom: 100px;
}





.hero-heading {
	font-family: myfont;
	// font-family: myfont1;
	text-transform: capitalize;
	font-size: 100px;
}


.clip-text ,.letter, .hue-effect {
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 15s infinite linear;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


.word {
  position: absolute;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.heading p {
	color: #868686;
	font-size: 18px;
}

 .parallax-bg {
    position: absolute;
        left: 0;
        width: 150%;
        height: 100%;
        background-position: center bottom;
        background-repeat-y: no-repeat;
     	background-size: 50%;
        opacity: .3;
        
    }

    .image-card {
    	width: 300px;
    	height: 400px;
    	position: relative;

    	img{
			width: 100%;
			height: 100%;
			object-fit: cover;
    	}
    	.card-overlay {
    		width: 100%;
    		height: 100%;
    		background: linear-gradient(to bottom, #00000005 58%, #00000057  67%);
    		position: absolute;
    		top: 0;
    		right: 0;
    		display: flex;
    		    align-items: flex-end;
    		    padding: 15px;
    		    color: #fff;
    	}
    }
.card-overlay.transparent {
  background-color: transparent !important;
}
.her-slider {
    	margin-right: -15px;
    	margin-left: -15px;
    	margin-bottom: -180px;
    	padding-bottom: 100px;
}

.grid-box {
	display: flex;
}
.grid-item img{
	width: 	100%;
	height: 100%;
}

.grid-item.flex {
	display: flex;
    flex-wrap: wrap;

    .item {
    	flex-basis: 250px;
    	    flex-grow: 1;
    	    margin: 7px;
    }
}

.grid-item.first {
	flex-grow: 1;
    flex-basis: 48%;
    flex-shrink: 0;
    margin: 7px;
    height: 650px;
}

.full-width {
	width: 	100%;
	height: 	100%;
}

.card-overlay h4 {
	margin: 0;
	    font-weight: 400;
	    font-size: 19px;
}

.flex-box-center {
	display: flex;
	justify-content: space-between;
}

     	 .bee-shape.bee-shape-bottom{
     	    -webkit-transform: rotate(180deg);
     	    -ms-transform: rotate(180deg);
     	    transform: rotate(180deg);
     	    bottom: 0;
     	}
     	.bee-shape {
     	    overflow: hidden;
     	    position: absolute;
     	    left: 0;
     	    width: 100%;
     	    line-height: 0;
     	    direction: ltr;
     	}
     	.bee-shape svg {
     	    height: 81px;
     	    display: block;
     	    width: 100%;
     	    position: relative;
     	    left: 50%;
     	    -webkit-transform: translateX(-50%);
     	    -ms-transform: translateX(-50%);
     	     transform: translateX(-50%); 
     	}
     	.bee-shape .bee-shape-fill {
     	    fill: #fff;
     	    -webkit-transform-origin: center;
     	    -ms-transform-origin: center;
     	    transform-origin: center;
     	    -webkit-transform: rotateY(0deg);
     	    transform: rotateY(0deg);
     	}






.he-top .card-overlay {
    background: transparent;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-overlay  {
  >div {
    width: 100%;
  }
  h3 {
    // font-family: myfont1;
    font-size: 20px;
    margin: 0;
    font-weight: 400;

  }
  span {
    margin-top: -5px;
    display: block;
    font-weight: 300;
    letter-spacing: 3px;
  }
  p{
    margin: 0;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        time:before {
          content: "\e99f";

    font-family: bee-icon;
    margin-right: 1px;
    position: relative;
    top: 2px;
    font-size: 20px;
        }
    }
}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: var(--theme-color);
        box-shadow: 0 0 1px 3px #44edbc3d;
}


.width100 {
  width: 100%;
}

.frem {
  display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
        padding: 20px;
    width: 70%;
    margin: auto;
    margin-right: 150px;
   
}

.call-img {
  width: 100%;
  margin-left: 20px;
  height: 400px;
  object-fit: cover;
}

.frem-text {
  flex-shrink: 0;
    flex-basis: 400PX;
    flex-grow: 1;
    .hero-heading {
      font-size: 80px;
    }
}

.frem-border {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    >button {
      width: 100%;
    height: 100%;
    background: transparent;
     border-image: linear-gradient(to left, #00C853, #B2FF59);
    }
}

.border-gradient {
  border-image-slice: 1;
  border-width: 5px;
}

.rating-star {
  width: 105px !important;
    margin-bottom: 0;
}

.top-banner-sm {
  width: 100%;
  height: 400px;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay-sm {
    position: absolute;
    top: 0;
    left: 0;
    background: #00000029;
    width: 100%;
    height: 100%;
  }

}

.book-form {
      border: 1px solid #f0f3f7;
      padding: 15px;
}

.gallery-img-list  {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  li {
   flex-grow: 1;
   margin: 5px auto;
  }
}

.bg-transprent .navbar-nav .nav-link {
  color: #fff !important;
}

.frem-text .btn {
  margin-top: 20px;
}

.logo {
  width: 150px;
}